﻿@using WebAppMvcSample.Domain.Services.ThemeResolver
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@ThemeService.RenderFavIcon()" />
    <link href='@ThemeService.RenderFromContentApp("Content/fonts/Open-Sans/css/fonts.css")' rel="stylesheet" />
    <link href='@ThemeService.RenderFromContentApp("Content/kendo/kendo.common-bootstrap.min.css")' rel="stylesheet"/>
    <link href='@ThemeService.RenderFromContentApp("Content/kendo/kendo.bootstrap.min.css")' rel="stylesheet"/>
    <link href='@ThemeService.RenderFromContentApp("Content/styles/stylesheets/vendor/bootstrap.min.css")' rel="stylesheet"/>
</head>
<body class="@HttpContext.Current.PageClassName()">

@Html.IconSprite(IconSprites.Shared)
@Html.IconSprite(IconSprites.Settings)

<header id="top-header">
    <div class="top-header-left">
        <a id="company-logo" href="@Url.RouteUrl(RouteNames.Default)"></a>
    </div>
    <div class="top-header-right">
        <ul>
            @Html.Partial("Notifications/_NotificationPane")
            @Html.Partial("Help/_HelpPane")
            <li id="user-menu">
                <span class="g-top-right-text g-truncate">
                    @Shared_General.Hello <span id="username" class="bold">@User.DisplayName()</span>
                </span>
                <span class="g-top-right-icons">
                    <svg focusable="false" class="icon-20"><use xlink:href="#icon-person"></use></svg>
                    <svg focusable="false" class="icon-16"><use xlink:href="#icon-arrowdown"></use></svg>
                </span>
                @* --- USER SUBMENU --- *@
                <ul>
                    @RenderSection("usermenu", true)
                </ul>
            </li>
        </ul>
    </div>
</header>

<main id="admin-main">
    <div id="sidebar">
        @RenderSection("sidebar", false)
    </div>
    <div id="content">
        @RenderBody()

    </div>
</main>

<footer id="admin-footer">
    @Html.LinkBuilder().WithId("about-link").WithUrl(Url.Action("About", "LegalDocument")).WithText(Shared_Legal.About)
    @Html.LinkBuilder().WithId("terms-of-use-link").WithUrl(Url.Action("TermsOfUse", "LegalDocument")).WithText(Shared_Legal.TermsOfUse)
    @Html.LinkBuilder().WithId("privacy-policy-link").WithUrl(Url.Action("PrivacyPolicy", "LegalDocument")).WithText(Shared_Legal.PrivacyPolicy)
    @Html.LinkBuilder().WithId("cookie-policy-link").WithUrl(Url.Action("CookiePolicy", "LegalDocument")).WithText(Shared_Legal.CookiePolicy)
</footer>

<form id="anti-forgery-form" action="#">
    @Html.AntiForgeryToken()
</form>

<script type="text/javascript">
    require(["timezone", "g-tooltip-module", "notifications-module", "g-sidebar-module", "help-module"]);
</script>

<!-- Views scripts -->
@RenderSection("scripts", required: false)

</body>
</html>
