﻿<div class="timeline-container g-has-progress" id="audit-timeline-container">
    @Html.Partial("Audit/_AuditFilterPanel", Model)

    <div class="actions-list">
    </div>

    @Html.NotificationContainer().WithId("audit")
</div>