﻿@using WebAppMvcSample.Infrastructure.Extensions.Builders
@using WebAppMvcSample.Infrastructure.Extensions.Builders.Button

<div id="audit-date-pickers">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.TimeZoneOffset, new { Id = "timezone-offset", Name = "ActionGroupListModel.TimeZoneOffset" })

        @Html.InputFor(x => x.PageIndex).Hidden().WithValue(Model.PageIndex)
        @Html.InputFor(x => x.FirstRenderTime).Hidden().WithValue(Model.FirstRenderTime)

        <div class="filter-container g-form-box-body">
            @(Html.DatePickerFor(x => x.LocalTimeFilterFrom)
                .Required()
                .WithColumnClass(ColumnSizePrefix.MD, Model.WithFilteringByAreas ? ColumnSize.Col3 : ColumnSize.Col5)
                .WithAdditionalClass("audit-date-filter-field")
                .WithInitialValue(Model.LocalTimeFilterFrom)
                .BeforeOrEqualInThePast(ViewBag.Today, Model.LocalTimeFilterTo, Shared_Audit.FilterFromDateBeforeFilterToValidationMessage)
                .Deferred())

            @(Html.DatePickerFor(x => x.LocalTimeFilterTo)
                .Required()
                .WithColumnClass(ColumnSizePrefix.MD, Model.WithFilteringByAreas ? ColumnSize.Col3 : ColumnSize.Col5)
                .WithAdditionalClass("audit-date-filter-field")
                .WithInitialValue(Model.LocalTimeFilterTo)
                .LaterThanOrEqual(x => x.LocalTimeFilterFrom, Shared_Audit.FilterToDateAfterFilterFromValidationMessage)
                .InThePast(ViewBag.Today)
                .Deferred())
        
            @if (Model.WithFilteringByAreas)
            {
                @(Html.MultiSelectFor(x => x.AuditAreasToFilterBy, Model.AvailableAreas)
                    .WithColumnClass(ColumnSizePrefix.MD, ColumnSize.Col4)
                    .WithKeyProperty("Id")
                    .WithDisplayProperty("Name")
                    .WithInitialText(Shared_Audit.SelectAreas)
                    .Deferred())
            }
            <div class="set-button-container col-md-2">
                @Html.Button().Custom().WithValue(Shared_General.Set).WithId("filter-audit-button").WithType(ButtonType.Submit)
            </div>
        </div>
    }
</div>