﻿@using WebAppMvcSample.Infrastructure.Extensions.Builders.Audit
@using WebAppMvcSample.Models.Audit

@model AuditTimelinePageModel

@if (Model != null)
{
    if (!Model.Items.Any())
    {
        <div class="k-grid-norecords">
            <div class="g-warning">
                <svg class="icon-16" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning" xlink:xlink="http://www.w3.org/1999/xlink"></use></svg>
                @Shared_Audit.FilteringWithNoResults
            </div>
        </div>
    }
    else
    {
        foreach (ActionGroupItemModel group in Model.Items)
        {
            <div class="action-group collapsed">
                @AuditTimelineHelper.ActionGroupButtonDiv(@group.ErrorClass, @group.RequestId, @group.ActionId, @group.OwnerId).ToMvcString()
                <div class="action-group-header">
                    <span>
                        @group.EffectiveDateFormatted
                    </span>
                    <div>
                        <h2>
                            @group.Name
                        </h2>
                        <span>
                            (@group.AccountDisplayName)
                        </span>
                        <span>
                            @group.Duration.ToString()
                        </span>
                    </div>
                </div>
                <div class="action-group-details">
                    <div class="action-details"></div>
                    <aside class="action-user-info">
                        <p>@group.UserAgent</p>
                        <p>@group.UserHostAddress</p>
                    </aside>
                </div>
                
            </div>
        }
    }
    if (Model.RemainingItems > 0)
    {
        <div class="load-more">
            <svg class="icon-16" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowdowncircle" xlink:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            @string.Format(Shared_Audit.LoadMoreMessage, Model.RemainingItems)
        </div>
    }
}

